.image{
    margin: auto;
    img{
        width: 100%;
        max-width: 500px;
    }
}

h1{
    font-size: 2rem;
}

.title{
    font-size: 1.2rem;
}

.price{
    font-weight: bold;
}

.cart{
    img{
        width: 20px;
    }
}