<div class="container">
  <div class="grid">
    <div class="row">
      <div class="col-11 mb-5">
          <h1>Loja</h1>
      </div>
      <div class="col-1 cart">
        <button nbButton status="success" (click)="openCart()">
          <img src="../../../../assets/images/carrinho-de-compras.png">
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-sm-6" *ngFor="let product of products">
          <nb-card>
            <nb-card-header>
              <div class="image">
                  <img [src]="product.image">
              </div>
            </nb-card-header>
              <nb-card-body>
                <div class="title">
                  <h3>{{product.name}}</h3>
                </div>
                <div class="price mt-2">
                  <span>{{product.price | currency:'BRL'}}</span>
                </div>
                <div class="btn-comprar mt-2">
                  <button nbButton fullWidth status="primary" (click)="addProduct(product.id)">Comprar</button>
                  
                </div>

              </nb-card-body>
            </nb-card>
  
      </div>
    </div>
  </div>
</div>

