
// QUICKSAND

/** Bold */
@font-face {
    font-family: "quicksand";
    font-weight: 700;
    src: url("../../../assets/fonts/quicksand/Quicksand-Bold.ttf");
}

/** Medium */
@font-face {
    font-family: "quicksand";
    font-weight: 500;
    src: url("../../../assets/fonts/quicksand/Quicksand-Medium.ttf");
}

/** Regular */
@font-face {
    font-family: "quicksand";
    font-weight: 400;
    src: url("../../../assets/fonts/quicksand/Quicksand-Regular.ttf");
}

/** Light */
@font-face {
    font-family: "quicksand";
    font-weight: 300;
    src: url("../../../assets/fonts/quicksand/Quicksand-Light.ttf");
}
