/** WARNING - USE AT OWN RISK */
/** IT IS AGAINST APPLE'S POLICY TO USE SF PRO FOR ANYTHING OTHER THAN iOS/tvOS/macOS/watchOS DESIGN & DEVELOPMENT */
/** ../../../assets/fonts/LICENSE.pdf */

/** 1. Copy/import this file into your main css/scss file */
/** 2. Change css font-family: to "SF Text", "SF Display" or "SF Mono" */
/** 3. Apply font-weight or italic to html elements */

/** THANK YOU */
/** I host these fonts on Cloudfront with SSL in all AWS regions for the best performance and reliability */
/** If you'd like to help offset costs, I'd very much appreciate a donation via Lisk https://lisk.io */
/** Address: 14987768355736502769L */
/** Delegate: andrew */

/*---------------------------------------------------------------------------*
 * SF UI Display
 *---------------------------------------------------------------------------*/

/** Black */
@font-face {
	font-family: "SF Display";
	font-weight: 900;
	src: url("../../../assets/fonts/SF/SFCompactDisplay-Black.otf");
}

/** Bold */
@font-face {
	font-family: "SF Display";
	font-weight: 700;
	src: url("../../../assets/fonts/SF/SFCompactDisplay-Bold.otf");
}

/** Heavy */
@font-face {
	font-family: "SF Display";
	font-weight: 800;
	src: url("../../../assets/fonts/SF/SFCompactDisplay-Heavy.otf");
}

/** Light */
@font-face {
	font-family: "SF Display";
	font-weight: 200;
	src: url("../../../assets/fonts/SF/SFCompactDisplay-Light.otf");
}

/** Medium */
@font-face {
	font-family: "SF Display";
	font-weight: 500;
	src: url("../../../assets/fonts/SF/SFCompactDisplay-Medium.otf");
}

/** Regular */
@font-face {
	font-family: "SF Display";
	font-weight: 400;
	src: url("../../../assets/fonts/SF/SFCompactDisplay-Regular.otf");
}

/** Semibold */
@font-face {
	font-family: "SF Display";
	font-weight: 600;
	src: url("../../../assets/fonts/SF/SFCompactDisplay-Semibold.otf");
}

/** Thin */
@font-face {
	font-family: "SF Display";
	font-weight: 300;
	src: url("../../../assets/fonts/SF/SFCompactDisplay-Thin.otf");
}

/** Ultralight */
@font-face {
	font-family: "SF Display";
	font-weight: 100;
	src: url("../../../assets/fonts/SF/SFCompactDisplay-Ultralight.otf");
}

/*---------------------------------------------------------------------------*
 * SF UI Text
 *---------------------------------------------------------------------------*/

/** Bold */
@font-face {
	font-family: "SF Text";
	font-weight: 700;
	src: url("../../../assets/fonts/SF/SFCompactText-Bold.otf");
}

/** Bold Italic */
@font-face {
	font-family: "SF Text";
	font-weight: 700;
	font-style: italic;
	src: url("../../../assets/fonts/SF/SFCompactText-BoldItalic.otf");
}

/** Heavy */
@font-face {
	font-family: "SF Text";
	font-weight: 800;
	src: url("../../../assets/fonts/SF/SFCompactText-Heavy.otf");
}

/** Heavy Italic */
@font-face {
	font-family: "SF Text";
	font-weight: 800;
	font-style: italic;
	src: url("../../../assets/fonts/SF/SFCompactText-HeavyItalic.otf");
}

/** Light */
@font-face {
	font-family: "SF Text";
	font-weight: 200;
	src: url("../../../assets/fonts/SF/SFCompactText-Light.otf");
}

/** Light Italic */
@font-face {
	font-family: "SF Text";
	font-weight: 200;
	font-style: italic;
	src: url("../../../assets/fonts/SF/SFCompactText-LightItalic.otf");
}

/** Medium */
@font-face {
	font-family: "SF Text";
	font-weight: 500;
	src: url("../../../assets/fonts/SF/SFCompactText-Medium.otf");
}

/** Medium Italic */
@font-face {
	font-family: "SF Text";
	font-weight: 500;
	font-style: italic;
	src: url("../../../assets/fonts/SF/SFCompactText-MediumItalic.otf");
}

/** Regular */
@font-face {
	font-family: "SF Text";
	font-weight: 400;
	src: url("../../../assets/fonts/SF/SFCompactText-Regular.otf");
}

/** Regular Italic */
@font-face {
	font-family: "SF Text";
	font-weight: 400;
	font-style: italic;
	src: url("../../../assets/fonts/SF/SFCompactText-RegularItalic.otf");
}

/** Semibold */
@font-face {
	font-family: "SF Text";
	font-weight: 600;
	src: url("../../../assets/fonts/SF/SFCompactText-Semibold.otf");
}

/** Semibold Italic */
@font-face {
	font-family: "SF Text";
	font-weight: 600;
	font-style: italic;
	src: url("../../../assets/fonts/SF/SFCompactText-SemiboldItalic.otf");
}
