// @nebular theming framework
@import '~@nebular/theme/styles/theming';
// @nebular out of the box themes
@import '~@nebular/theme/styles/themes';

// which themes you what to enable (empty to enable all)
$nb-enabled-themes: (corporate);

$nb-themes: nb-register-theme((

	font-main: 'quicksand',
	font-secondary: 'SF Text',
	font-color: #555555,
	font-title-white: #FFF2E6,

	color-primary: #18008A,
	color-secondary: #4219FF,
	color-terciary: #e6d444,
	color-success: rgb(76, 217, 100),
	color-info: #3397F6,
	color-warning: #FFCC00,
	color-danger: rgb(255, 59, 48),
	color-disable: #8A8A8C,
	color-white: rgb(254, 254, 254),
	color-dark: #8b948e,
	color-medium: #99a19b,
	color-light: #d5e3d9,


	bg-src: url('/assets/images/bg-purple.jpg'),

	box-shadow: 0 0 12px 0 rgba(223, 227, 235, 0.7),

	separator: #DDDDDD,

	layout-bg: #F7F7F7,
	layout-font-family: font-main,

	sidebar-header-gap: 2rem,
	sidebar-header-height: initial,
	sidebar-shadow: box-shadow,
	sidebar-bg: color-white,
	menu-bg: transparent,
	menu-item-separator: transparent,
	menu-fg: #777777,
	menu-icon-color: menu-fg,
	menu-active-fg: color-primary,
	menu-icon-active-color: menu-active-fg,
	menu-submenu-bg: transparent,
	menu-submenu-fg: menu-fg,
	menu-submenu-active-fg: color-white,
	menu-submenu-active-bg: color-info,
	menu-submenu-active-border-color: menu-submenu-active-bg,

	tabs-selected: color-info,

	footer-shadow: box-shadow,
	footer-bg: color-white,
	footer-separator: transparent,

	color-deviation: rgba(255, 149, 0, 0.3),

	link-color: color-info,
	link-color-hover: #2600D6,
	link-color-visited: link-color,

	header-bg: btn-default-bg,
	header-fg: color-white,
	header-shadow: none,

	radius: 4px,

	list-item-border-width: 1px,

	toaster-fg: color-white,
	toaster-success: color-success,
	toaster-info: color-info,
	toaster-warning: color-warning,
	toaster-wait: color-primary,
	toaster-error: color-danger,

	btn-border-radius: radius,

	switcher-background: #2b2d34,
	switcher-background-percentage: 14%,

	btn-default-bg: linear-gradient(to right, #18008A 0%, #18008A 100%),
	drops-icon-line-gadient: -webkit-linear-gradient(#e9e8eb, #a7a2be),
), corporate, corporate);
