<nb-layout windowMode [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerMessage="">
	<nb-layout-header fixed>
		<ngx-header [position]="'normal'"></ngx-header>
	</nb-layout-header>

	<nb-layout-column class="main-content">
		<router-outlet></router-outlet>
	</nb-layout-column>

	<nb-layout-footer fixed>
		<ngx-footer></ngx-footer>
	</nb-layout-footer>
</nb-layout>
