@import '../../styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
	display: flex;
	justify-content: space-between;
	width: 100%;

	.left {
		display: flex;
		width: 100%;
		order: 0;
		flex-direction: row;
	}
	.right {
		order: 1;
		flex-direction: row-reverse;
	}

	.logo-containter {
		display: flex;
		align-items: center;
		width: 50px;
		cursor: pointer;
		img{
			width: 50px;
		}
	}

	.control-item {
		display: block;
	}

	.header-container {
		display: flex;
		align-items: center;
		width: auto;

		.navigation {
			@include nb-ltr(padding-right, nb-theme(padding));
			@include nb-rtl(padding-left, nb-theme(padding));
			font-size: 2.5rem;
			text-decoration: none;
			border-radius: 3px;

			i {
				display: block;
			}
		}

		.nb-menu {
			padding: 0.15rem 0.4rem;
		}

		.nb-menu:hover {
			border-radius: 3px;
			background-color: rgba(0, 0, 0, 0.15);
		}

		.logo {
			padding: 0 nb-theme(padding);
			font-size: 1.75rem;
			@include nb-ltr(border-left, 1px solid nb-theme(separator));
			@include nb-rtl(border-right, 1px solid nb-theme(separator));
			white-space: nowrap;

			span {
				font-weight: nb-theme(font-weight-normal);
			}

			img {
				width: 50px;
				max-height: calc(#{nb-theme(header-height)} - #{nb-theme(header-padding)} - 20px);
			}
		}

		nb-user, i {
			cursor: pointer;
		}

		.logout-icon {
			color: nb-theme(header-fg);
			font-size: 2.25rem;
			border-radius: 50%;
			position: relative;
		}

		.dropdown-user {
			display: inline-grid
		}

		.dropdown-menu.show {
			border: 1px solid nb-theme(separator);
			margin-top: calc(1.25rem - 1px);
			border-top: 0;
		}

		.dropdown-item {
			color: #333;
			padding: 3px 0;
			text-align: center;
		}
	}

	ngx-layout-direction-switcher {
		margin: 0 1.5rem;
	}

	ngx-theme-switcher {
		margin: nb-theme(layout-padding);
		margin-top: 0;
		margin-bottom: 0;
	}

	@include media-breakpoint-down(xl) {
		ngx-layout-direction-switcher {
			display: none;
		}
	}

	.toggle-layout /deep/ a {
		display: block;
		text-decoration: none;
		line-height: 1;
	}

	@include media-breakpoint-down(md) {

		nb-action:not(.toggle-layout) {
			border: none;
		}

		.control-item {
			display: none;
		}

		.toggle-layout {
			padding: 0;
		}

		ngx-layout-direction-switcher {
			display: none;
		}

		ngx-theme-switcher {
			margin: 0 0.5rem;
		}
	}

	@include media-breakpoint-down(sm) {

		nb-user /deep/ .user-title {
			display: none;
		}
	}

	@include media-breakpoint-down(is) {

		.header-container {
			.logo {
				pointer-events: none;
				font-size: 1.75rem;
				position: fixed;
				width: 100%;
				text-align: center;
				right: 0;
				left: 0;
			}

			/deep/ .user-container {
				display: none;
			}

			.logout-icon {
				display: block;
			}
		}
		.toggle-layout {
			display: none;
		}

		ngx-theme-switcher {
			display: none;
		}

		nb-action:not(.toggle-layout) {
			padding: 0;
		}
	}

	@include media-breakpoint-down(xs) {
		.right /deep/ {
			display: none;
		}
	}
}
