.info{
    display: flex;
    h1{
        font-size: 2rem;
        margin: auto;
    }
    
}

.image{
    img{
        width: 100px;
    }
}
.quantity{
    font-size: 2rem;
    top: 5px;
    margin: 25px;
}

.price{
    font-size: 20px;
}

.bt-sinal{
    padding: 5px 17px
}

.sinal{
    font-size: 26px;
}

.total{
    font-size: 45px;
    font-weight: 500;
}
