<div class="container">
  <div class="grid">
    <div class="row">
      <div class="col-12 mb-5 text-center info">
        <button nbButton status="info" (click)="back()">Voltar</button>
        <h1 *ngIf="total">Sua sacola</h1>
        <h1 *ngIf="!total">Ops, sua sacola está vazia!</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-sm-12" *ngFor="let item of cart">
        <nb-card>
            <nb-card-body>
              <div class="row">
                <div class="col-4">
                    <div class="image">
                      <img [src]="item.image">
                  </div>
                </div>
                <div class="col-8">
                    <div class="title">
                      <h2>{{item.name}}</h2>
                    </div>
                    <div class="buttons mt-3">
                      <button class="bt-sinal" nbButton status="primary" (click)="addProduct(item.sku, -1, item.quantity)">
                        <span class="sinal">-</span>
                      </button>
                      <span class="quantity">{{item.quantity}}</span>
                      <button class="bt-sinal" nbButton status="primary" (click)="addProduct(item.sku, 1, item.quantity)">
                        <span class="sinal">+</span>
                      </button>
                    </div>
                    <div class="price mt-4">
                      <p>Subtotal: {{item.amount | currency:'BRL'}}</p>
                    </div>
                </div>
              </div>
            </nb-card-body>
          </nb-card>
      </div>
      <div class="col-12 total" *ngIf="total">
          <span>Total: {{total | currency:'BRL'}}</span>
        </div>
    </div>
  </div>
</div>
